.quoteText {
    height: 20rem;
    width: 80%;
    margin: 15vh auto;
    padding: 15px;
    border: 1px dotted coral;
    box-sizing: border-box;
    box-shadow: 5px 10px #888888;
    font-size: 2rem;
    /* background-color: r; */
}

.TextFadeIn {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: initial;
}

@keyframes example {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.QuoteContainer {
    height: 80%;
    width: 100%;
    border: 1px double gray;
    box-sizing: border-box;
}