.quoteText {
    height: 20rem;
    width: 80%;
    margin: 13vh auto;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 10px #888888;
    font-size: 1.4rem;
    z-index: 1000;
}

.quoteText p:first {
    text-align: center;
    position: relative;
}

.quoteText p:nth-child(2) {
    text-align: end;
    margin-right: 20px;
}

.TextFadeIn {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: initial;
}

@keyframes example {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.QuoteContainer {
    height: 80%;
    width: 100%;
    border: 1px double gray;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.tweetQuote {
    color: #00aced;
    border: #00aced 1px solid;
    padding: 10px;
    border-radius: 10%;
}

@media only screen and (max-width: 600px) {
    .quoteText {
        font-size: 1.2rem;
        height: 55vh;
        width: 90%;
        margin-top: 70px;
    }
}