.QuoteText {
    height: 20rem;
    width: 80%;
    margin: 13vh auto;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 10px #888888;
    font-size: 1.4rem;
    z-index: 1000;
    background: white;
    opacity: 0.9;
    animation-name: styleIn;
    animation-duration: 3s;
}

@keyframes styleIn{
    0% {
        transform: translateY(-100vh);
        transform: rotateX(180deg);
    }
    80% {
        transform: translateY(10vh);
        transform: rotateX(90deg);
    }

    100% {
        transform: translateY(0);
        transform: rotateX(0);
    }
}

h2 {
    /* font-variant: small-caps; */
    text-transform: uppercase;
    font-size: 1.7rem;
}

.QuoteText p:first {
    text-align: center;
    position: relative;
}

.QuoteText p:nth-of-type(2) {
    text-align: end;
    margin-right: 20px;
}

.TextFadeIn,
h2 {
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    /* animation-play-state: running; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    20% {
        opacity: 1;
        transform: translate(0);
    }
    90% {
        transform: translate(-3px);
    }
}

.QuoteContainer {
    height: 80%;
    width: 100%;
    border: 1px double gray;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.tweetQuote {
    color: #00aced;
    border: #00aced 1px solid;
    padding: 10px;
    border-radius: 10%;
}

@media only screen and (max-width: 760px) {
    .QuoteText {
        font-size: 1.2rem;
        height: 55vh;
        width: 90%;
        margin-top: 70px;
    }
    p {
        margin-top: 5px;
    }
}